body {
    margin-top:10rem;
    background-color: rgb(219, 219, 219);
}

.container {
    display:grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 30rem
}

.box {
    background-color: gray;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    padding: .62rem;
}

.format {
    width: 30rem;
    font-family: sans-serif;
    margin: auto;
}

.output {
    margin: auto;
    border-color: black;
    border-style: solid;
    width: 28.5rem
    
}
